/*css*/

#header-image	{
	background-image: url('../images/snow.jpg');
	background-repeat: repeat;
	text-align: center;
	color: white;
}

#header   {
	background-color: #6495ED;
	color: white;
	height: 85px;
	text-align:  center;
	font-size: 30px;
}


#navigation	{
	float: right;
	margin-bottom: 25px;
	font-size: 125%;
}

#wrap	{
	border: 5px solid #4682B4;
	border-radius: 15px;
	margin-bottom: 30px;
}

#wrap-profile	{
	border: 5px solid #4682B4;
	border-radius: 15px;
	margin-bottom: 30px;
	font-size: 150%;
}

#submit-p	{
	font-size: 150%;
}

.newuser	{
	height: 100px;
	width: 400px;
	font-size: 150%;
}

.driveway	{
	font-size: 20px;
}

#output		{
	font-size: 20px;
}

#user	{
	height: 50px;
	width: 200px;
	font-size: 20px;
	margin-top: 150px;
}

#avail	{
	font-size: 18px;
}

#email-send	{
	height: 30px;
	width:80px;
}